body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    background-color: #1f1f1f;
}

#search {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

main {
    margin: 20px;
}

.song {
    background-color: #242424;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}

iframe {
    width: 90%;
    height: 300px;
    border: none;
    border-radius: 10px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #1f1f1f;
}
